#header{
    width: 100%;

background: #3bb986;
}
.card{
  margin-top: 100px;
}
#myVideo {
        position: fixed;
        overflow: hidden;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: -10;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    
    .blinking {
    animation: blink 1s infinite; /* Change the duration if needed */
    }