<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generated Card</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/css/generate.css" rel="stylesheet">

  <link rel="icon" href="https://th.bing.com/th/id/OIP.iEljT-80HeVhxxkpjEEl2AHaEo?w=296&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7" type="image/png" sizes="16x16">
  <title></title>

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/css/generate.css" rel="stylesheet">
</head>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top " >
    <div class="container d-flex align-items-center">
  
      <h1 class="logo me-auto"><a href="./index.html">Bank-Line</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/dashboard">Home</a></li>
          <li><a class="nav-link scrollto" href="/products">Products</a></li>
          <li><a class="nav-link scrollto" href="/createaccount">Create Account</a></li>
          <li><a class="nav-link scrollto" href="/accounts">My Accounts</a></li>
          <li><a class="nav-link scrollto" href="/cardpayment">Card Payment</a></li>
          <li><a class="nav-link scrollto" href="/feedbacks">My FeedBacks</a></li>
          <li><a class="nav-link scrollto" href="/history">Transaction History</a></li>
          <li><a class="getstarted scrollto" href="/signout">Sign Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->
<body>
    <div class="container mt-5">
        <div class="card-container">
          <div class="card">
            <div class="card-face front">
              <div class="Bank-Line" style="position: absolute; top: 10px; right: 10px;">Bank-Line</div>
              <p class="logo"> <!-- Added a class here -->
                {% if card_type == 'visa' %}
                  <img src="https://img.icons8.com/color/96/000000/visa.png" class="card-logo" alt="Visa Logo">
                {% elif card_type == 'master' %}
                  <img src="https://img.icons8.com/color/96/000000/mastercard-logo.png" class="card-logo" alt="MasterCard Logo">
                {% elif card_type == 'amex' %}
                  <img src="https://img.icons8.com/color/96/000000/amex.png" class="card-logo" alt="Amex Logo">
                {% elif card_type == 'discover' %}
                  <img src="https://img.icons8.com/color/96/000000/discover.png" class="card-logo" alt="Discover Logo">
                {% endif %}
              </p>
              <p class="card-text card-number">{{ card_number | group_digits }}</p>
              <div class="card-expiration">Valid thru {{ expiration_date }}</div>
              <p class="holder"> <!-- Added a class here -->
                <div class="card-holder">{{ cardholder_name }}</div>
              </p>
            </div>
            <div class="card-face back">
              <div class="black-line"></div>
              <div class="white-box">
                <div class="cvv">{{ cvv }}</div>
              </div>              
            </div>
          </div>
        </div>
        <p class="disclaimer">Disclaimer: This card is issued by Bank-Line and is subject to the terms
            and conditions of the Cardholder Agreement. By using this card, 
            you agree to abide by the Cardholder Agreement and the applicable laws and regulations. 
            This card is not a credit card and does not provide any overdraft protection. 
            You are responsible for maintaining sufficient funds in your linked account to cover your transactions. 
            If you use this card for purchases or withdrawals in a foreign currency, you may incur additional fees 
            and charges. This card may not be accepted by some merchants or ATMs, and may not be suitable for 
            reservations that require you to show a physical card. Bank-Line is not liable for any loss, damage, 
            or inconvenience caused by the use or misuse of this card. Please refer to the Cardholder Agreement 
            for more details.
       </p>
      </div>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
