<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="icon" href="https://th.bing.com/th/id/OIP.iEljT-80HeVhxxkpjEEl2AHaEo?w=296&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7" type="image/png" sizes="16x16">
  <title>Sign up</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/login.css">
</head>
 
<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">Bank-Line</a></h1>
     <a href="../static/index.html" class="logo me-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/">About</a></li>
        <li><a class="nav-link scrollto" href="/">Services</a></li>

        <li><a class="nav-link scrollto" href="/">Team</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="/"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> 

  </div>
</header>   
<body>

 <!-- video -->
 <video autoplay muted loop id="myVideo">
  <source src="../static/video5.mp4" type="video/mp4">
</video> 



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                        <img style="height: 100px; width: 100px; margin-top: 30px;" src="../static/signup.png" alt="">
                    <div class="login-wrap p-4 p-md-5">         
                      <form action="/signup" method="post" class="signin-form">
                        
                      <div class="form-group mt-3">
                        <input type="text" class="form-control" name="username" id="username" autocomplete="off" required>
                        <span id="username" class="text-danger font-weight-bold"> </span>
                        <label class="form-control-placeholder" for="username">Username</label>
                      </div>
                      <div class="form-group mt-3">
                          <input type="email" class="form-control" name="email" id="email" autocomplete="off" required>
                          <span id="username" class="text-danger font-weight-bold"> </span>
                          <label class="form-control-placeholder" for="email">Email Id</label>
                      </div>
                      <div class="form-group mt-3">
                          <input type="number" class="form-control" name="account" id="account" autocomplete="off" required>
                          <span id="username" class="text-danger font-weight-bold"> </span>
                          <label class="form-control-placeholder" for="account">Bank Account No.</label>
                      </div>
                      <div class="form-group mt-3">
                          <input type="password" class="form-control" name="password" id="password" autocomplete="off" required>
                          <span id="username" class="text-danger font-weight-bold"> </span>
                          <label class="form-control-placeholder" for="username">Password</label>
                      </div>
                      <div class="form-group" style="margin-right: 40px;">
                        <button type="submit" class=" btn btn-primary rounded submit px-3"> Sign up </button>
                      </div>
                      <div class="form-group d-md-flex" style="cursor: pointer;">                   
              </form>
              <p class="text" style="text-align: center;" >Already have an account? <a data-toggle="tab" href="/login">Sign in</a></p>
            
          </div>
            </div>
        </div>
    </div>
</section>
  

  <!-- ======= Footer ======= -->
  <footer id="footer">

   

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Bank-Line</h3>
            <p>
              Kolkata <br>
             
              India <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> codeboom471@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
<script src="login.js"></script>


</body>
</html>